* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  position: relative;
}
:root {
  --primary-color: #0d7cc6;
  --secondary-color: #f68712;
  --terty-color: #90c2e6;
  --black-color: #010101;
  --white-color: #f2f2f2;
}

#nav-bar {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  width: 96%;
  padding: 10px 20px;
  margin: 25px auto auto auto;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  transition: top 2s;
  transition: width 1s;
}
.nav-bar-partie1 {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
li:hover {
  background-color: #eeecec;
  border-radius: 5px;
  cursor: pointer;
}
.nav-bar-partie2 {
  margin-top: 10px;
}
.nav-bar-partie3 {
  margin-top: 20px;
}
.nav-bar-partie3-sing-out {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  padding: 11px 35px;
  border-radius: 7px;
}
.logo-nav-partie1 {
  height: 65px;
  width: 65px;
}
.menue {
  width: 0px;
  height: 0px;
  opacity: 0;
}
h2 {
  color: var(--primary-color);
}
.premier-page {
  height: 150vh;
  width: 98%;
  background-color: rgb(239, 239, 240);
  border-radius: 30px 30px 0 0;
  margin: 10px 0 10vh 15px;
  display: flex;
  height: 96vh;
}
.content-partie1 {
  width: 50%;
  height: 100%;
  margin: 100px 20px;
  padding-top: 90px;
}
.content-partie1 p {
  line-height: 20px;
}
.content-partie2 {
  width: 50%;
  background-color: #ecf5fc;
  position: relative;
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 50px;
  border-radius: 0 30px 0 0;
}
.evaluation {
  position: absolute;
  top: 200px;
  left: 20%;
  gap: 5px;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
#bouton_get_started {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-top: 20px;
  margin-left: 10px;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
}
.image-content {
  margin-top: 10%;
  background-color: #90c2e6;
  width: 415px;
  height: 475px;
  margin-left: 20%;
  border-radius: 50% 40% 0% 50%;
}
.image-principal {
  margin-left: 10%;
  width: 420px;
  height: 475px;
}
.image-decoratife-1 {
  position: absolute;
  width: 120px;
  height: 130px;
  top: 200px;
  right: 100px;
}

.image-decoratife-2 {
  position: absolute;
  bottom: 0px;
  left: 130px;
  width: 130px;
  height: 90px;
  border: 1px solid #f7f7f7;
  padding: 3px;
}
.second-page {
  display: flex;
  height: 150vh;
  width: 98%;
  margin: 10px 0 0px 15px;
  height: 80%;
  font-family: Quicksand, sans-serif;
  transform: scale(0);
  filter: blur(20px);
}

.second-page_content-part1 {
  width: 50%;
  height: 450;
  overflow: hidden;
}
.animationAbout {
  display: flex;
  height: 150vh;
  width: 98%;
  margin: 10px 0 0px 15px;
  height: 80%;
  font-family: Quicksand, sans-serif;
  transform: scale(1);
  filter: blur(0px);
  animation-name: animatAbout;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes animatAbout {
  from {
    transform: scale(0);
    filter: blur(10px);
    transition: 1s;
  }
  to {
    transform: scale(1);
    filter: blur(0px);
    transition: 1s;
  }
}
.about {
  width: 170px;
  height: 170px;
  border-radius: 15px;
  margin: 25px 10px 0px 0px;
}
.deco_un {
  margin: 30px 0px 0px 100px;
}
.deco_deux {
  padding: 0px 100px;
}
.about_1 {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin: 10px 10px 0px 5px;
}
#deco {
  display: flex;
}

.second-page_content-part2 {
  padding-top: 60px;
  width: 50%;
}
.reservation {
  padding: 13px 40px;
  background-color: var(--primary-color);
  margin-top: 20px;
  color: var(--white-color);
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.second-page_statistique {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}
.statistique {
  height: 100px;
  text-align: center;
}
.statistique h1 {
  margin: 0;
}
.statistique p {
  font-size: 15px;
  opacity: 0.9;
  margin: 0;
}
.troisiem-page {
  height: 600px;
  padding-top: 20px;
  transform: scale(0);
  filter: blur(20px);

}
.animationDestination {
  height: 600px;
  padding-top: 20px;
  transform: scale(1);
  filter: blur(0px);
  animation-name: animatAbout;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.troisiem-page_title {
  text-align: center;
  margin-bottom: 30px;
}
.troisiem-page_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 80px;
}
.troisiem-page-card {
  height: 330px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.destination {
  height: 180px;
  width: 100%;
}
.legende_card {
  position: relative;
}
.etoile {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 3px;
  top: 5px;
  color: var(--secondary-color);
}
h4 {
  margin: 2px;
  font-size: 16px;
}
p {
  margin: 0;
}
.legende_card p {
  font-size: 15px;
}
.png_card {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0px;
}
.png_svg {
  width: 15px;
  height: 15px;
}
.png_card_1 {
  text-align: center;
}
.svg_prix {
  height: 20px;
  width: 20px;
  margin-left: 12%;
  margin-right: 3%;
}
.prix_card {
  display: flex;
  align-items: center;
  background-color: #bad8ec;
  padding: 7px 10px;
  border-radius: 7px;
}
.quatriem-page {
  width: 80%;
  display: flex;
  height: 72vh;
  background-color: #76bef1;
  margin: auto;
  border-radius: 15px;
   transform: scale(0);
  filter: blur(20px);
}
.animationReservation {
  width: 80%;
  display: flex;
  height: 72vh;
  background-color: #76bef1;
  margin: auto;
  border-radius: 15px;
  transform: scale(1);
  filter: blur(0);
  animation-name: animatAbout;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.quatriem-page_partie_1 {
  width: 50%;
  height: 72vh;
  padding: 0px 20px;
}
.quatriem-page_partie_2 {
  position: relative;
  width: 48%;
  height: 69vh;
  margin: auto;
  padding: 20px;
  background-image: url(../image/reservation.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
#make_reservation_valided {
  display: flex;
  align-items: center;
  background-color: #7eda72;
  color: var(--white-color);
  width: 220px;
  padding: 13px 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
}
.valid_png {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.quatriem-page_partie_1_formulair {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.quatriem-page_partie_1_check {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--white-color);
  width: 215px;
  height: 38px;
}
.quatriem-page_partie_1_check input {
  height: 100%;
  width: 90%;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 5px;
}
h5 {
  margin: 25px 0 5px 0;
  font-size: 17px;
}
.check_png {
  width: 20px;
  height: 20px;
  margin: 6px 5px;
}
#quatriem-page_make_reservation {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  width: 80%;
  margin: 9%;
  padding: 8px;
  font-size: 18px;
}
h3 {
  margin: 20px 0px 0px 0px;
}
.cinquiem-page_title {
  text-align: center;
}
.cinquiem-page_title h1 {
  margin: 50px 0 0 0;
}
.cinquiem-page {
  transform: scale(0);
  filter: blur(20px);
}
.animationHotel {
  transform: scale(1);
  filter: blur(0px);
  animation-name: animatAbout;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.cinquiem-page_content {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 27px;
  margin: 3% 10%;
}
.cinquiem-page_content_1 {
  height: 465px;
  width: 360px;
}
.cinquiem-page_content_2 {
  height: 465px;
  width: 310px;
  background-image: url(../image/hotel5.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
#image_content {
  width: 100%;
  height: 49.5%;
  margin-bottom: 1%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}
#image_content:hover {
  transform: scale(1.05);
}
.page_content_1_image_1 {
  background-image: url(../image/hotel1.jpg);
  background-size: cover;
  background-position: center;
}
.page_content_1_image_2 {
  background-image: url(../image/hotel2.jpg);
  background-size: cover;
  background-position: center;
}
.page_content_1_image_3 {
  background-image: url(../image/hotel3.jpg);
  background-size: cover;
  background-position: center;
}
.page_content_1_image_4 {
  background-image: url(../image/hotel4.jpg);
  background-size: cover;
  background-position: center;
}
.finale_page {
  background-color: var(--black-color);
  width: 100%;
  height: 350px;
  color: var(--white-color);
}
.finale_page_content {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 80px;
  margin: auto 7%;
}
.hotel_logo {
  height: 75px;
  width: 75px;
  opacity: 1;
}
.finale_page_content span {
  display: flex;
}
.finale_page_content span h2 {
  color: #f2f2f2;
  font-weight: 100;
  font-size: 20px;
  margin-top: 2px;
  margin-left: 5px;
  opacity: 0.9;
}
h2 strong {
  color: #f68712;
  font-weight: 100;
}

.finale_page_content_1 {
  width: 330px;
  margin: 20px 0;
}
.finale_page_content_1 p {
  margin: 30px 0;
  opacity: 0.7;
}
.finale_page_contact {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}
.contact {
  background-color: var(--white-color);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}
.contact:hover {
  background-color: var(--secondary-color);
  transform: scale(1.09);
  transition: transform 0.2s;
}
.Contact_png_internet {
  width: 30px;
  height: 30px;
  margin: 5px auto 0 5%;
}

.finale_page_content_2 {
  width: 265px;
  height: 200px;
  margin: 60px 0 0 0;
  line-height: 25px;
}
.finale_page_content_2 h2 {
  color: var(--white-color);
}
.finale_page_content_2 p {
  margin: 10px 0;
  opacity: 0.9;
}
.finale_page_content_3 {
  width: 400px;
  height: 150px;
  margin: 90px 0 0 0;
}
.finale_page_content_3 h2 {
  color: #fff;
}
.finale_page_send {
  display: flex;
  width: 90%;
  height: 40px;
  margin-top: 30px;
}
.finale_page_send input {
  width: 72%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.finale_page_send button {
  width: 28%;
  height: 100%;
  border: none;
  background-color: var(--secondary-color);
}

#finale_page_send {
  position: absolute;
  bottom: 50px;
  right: 15px;
  padding: 25px 20px;
  font-size: 20px;
  font-weight: 900px;
  border-radius: 50%;
  background-color: #7eda72;
  opacity: 0;
}
.createur {
  background-color: #4e4e4e;
  color: var(--white-color);
  padding: 5px 0;
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 570px) {
  #nav-bar {
  z-index: 10;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  width: 96%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  transition: top 2s;
  transition: width 1s;
  overflow: hidden;
}
ul {
  height: 0;
  width: 0;
  opacity: 0;
}
.menue {
  width: 70px;
  height: 70px;
  opacity: 1;
}
}